@{
    if (Session["ManagerAdmin"]== null)
    {
        Response.Redirect("~/Home");
    }
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow" />
    <title>Admin Paneli</title>
    <!-- Favicon -->
    <link rel="icon" href="/content/images/logo/favicon.png" />
    <!-- GLOBAL MAINLY STYLES-->
    <link href="~/content/panel/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/panel/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/content/panel/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <!-- PLUGINS STYLES-->
    <!-- THEME STYLES-->
    <link href="~/content/panel/css/main.min.css" rel="stylesheet" />
    <link href="~/content/panel/css/panelstyle.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
</head>
<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- START HEADER-->
        <header class="header">
            <div class="page-brand">
                <a class="link" href="">
                    <span class="brand">
                        Admin
                        <span class="brand-tip"> Paneli</span>
                    </span>
                    <span class="brand-mini">AP</span>
                </a>
            </div>
            <div class="flexbox flex-1">
                <!-- START TOP-LEFT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                    <li>
                        <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
                    </li>
                </ul>
                <!-- END TOP-LEFT TOOLBAR-->
                <!-- START TOP-RIGHT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                    <li class="dropdown dropdown-inbox">
                        @Html.Partial("MesajBildirim")
                    </li>

                    <li class="dropdown dropdown-user">
                        <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                            <img src="~/content/panel/images/user.jpg" class="img-circle" />
                            <span>@Session["ManagerAdmin"]</span><i class="fa fa-angle-down m-l-5"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item"><a href="/apayarlar/hesapayar"><div><i class="fa fa-user"></i>Hesap</div></a></li>
                            <li class="dropdown-item"><a href="/apayarlar"><div><i class="fa fa-cog"></i>Ayarlar</div></a></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><a href="/apmanager/admincikis"><div><i class="fa fa-power-off"></i>Çıkış</div></a></li>
                        </ul>
                    </li>
                </ul>
                <!-- END TOP-RIGHT TOOLBAR-->
            </div>
        </header>
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        <nav class="page-sidebar" id="sidebar">
            @Html.Partial("AdminMenu")
        </nav>
        <!-- END SIDEBAR-->
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            @RenderBody()
            <!-- END PAGE CONTENT-->
            <footer class="page-footer">
                <div class="font-13">@DateTime.Now.Year © <b>AdminPanel</b></div>
                <a class="px-4" href="/HE" target="_blank">HE</a>
                <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
            </footer>
        </div>
    </div>

    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    <!-- END PAGA BACKDROPS-->
    <!-- CORE PLUGINS-->
    <script src="~/content/panel/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/content/panel/vendors/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="~/content/panel/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/content/panel/vendors/metisMenu/dist/metisMenu.min.js" type="text/javascript"></script>
    <script src="~/content/panel/vendors/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- PAGE LEVEL PLUGINS-->
    <!-- CORE SCRIPTS-->
    <script src="~/content/panel/js/app.min.js" type="text/javascript"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    @RenderSection("Scripts", required: false)

    <script>
        //$(window).resize(function () {
        //    var en = $(window).width();
        //    if (en < 768) {
        //        $('body').addClass('fixed-layout');
        //    }
        //    else {
        //        $('body').removeClass('fixed-layout');
        //    }
        //});
        //$(document).ready(function () {
        //    var en = $(window).width();
        //    if (en < 768) {
        //        $('body').addClass('fixed-layout');
        //    }
        //    else {
        //        $('body').removeClass('fixed-layout');
        //    }
        //})
    </script>
</body>
</html>














